@import url("https://api.fontshare.com/v2/css?f[]=ranade@700,300,400,500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background:#fff;
  font-family: 'Ranade',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Ranade',
    sans-serif;
}
